/* COMMON */
.ms_center{
    text-align: center;
}

.ms_padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* Header */
header{
    background-color: #2c3e50;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ms_logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ms_burger{
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}

.ms_main-menu ul{
    display: flex;
    justify-content: right;

}

.ms_main-menu a{
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;

}

/* Main */

/* Section Jumbotron */
.ms_jumbotron{
    background-color: #1abc9c;
    color: white;
}

.ms_jumbotron-content img{
    width: 200px;
}

.ms_jumbotron-title{
    padding-top: 1rem;
    font-weight: bold;
}

.star{
    vertical-align: middle;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.star::after,
.star::before{
    content: '';
    display: inline-block;
    max-width: 13%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    vertical-align: middle;
}

.ms_jumbotron-content :last-child{
    text-transform: uppercase;
}

/* Section Portfolio */
.ms_card img{
    width: 100%;
    border-radius: 10px;
}

/* Section-info */
.ms_info{
    background-color: #1abc9c;;
    color: white;
}

.ms_info-content{
    width: 70%;
    margin: 0 auto;
    max-width: 1170px;
}

.btn-green{
    color: white;
    background-color: #1abc9c;
    border-color: white;
}

/* Section Contact */
.ms_contact-content{
    width: 70%;
    margin: 0 auto;
    max-width: 1170px;
}

.ms_contact .form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
}

.ms_contact .form-control:focus{
    box-shadow: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid lightgray;
}

.ms_contact textarea.form-control{
    padding-bottom: 5rem;
}

.btn-lightgreen{
    background-color: #1abc9c;
    color: white;
}


/* Footer */
footer{
    color: white;

}

.ms_footer-top{
    background-color: #3a546d;
}

.ms_footer-bottom{
    background-color: #2c3e50;
}

.ms_about-frl :last-child{
    font-weight: 500;
}

.ms_about-frl span{
    color: #1abc9c;
}

.ms_social{
    display: flex;
    justify-content: center;
}

.ms_social-icons{
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    border:1px solid white;
    padding-top: 0.5rem;

}
